/*Styles.css*/
html{
    background-color: burlywood;
}
h1{
    text-align: center;
    font-weight: bold;
}

a{
    display: block;
    text-align: center;
}
img{
    display: block;
    margin-left: auto;
    margin-right:auto;
}
html#index{
    background-image: url("");
    background-size: cover;
   /* background-attachment: fixed; */
}
.dishFont{
    color:bisque;
}
.titleFont{
    color: black;
}