/*Styles.css*/
html{
    background-color: burlywood;
}

h1{
    text-align: center;
    font-weight: bold;
    margin: 0px;
}
h3.dishFont{
    text-align: center;
    margin: 0px 0px 20px;
}
img{
    display: block;
    margin: 0px auto;
    padding: 0px;
}
html#index{
    background-image: url("");
    background-size: cover;
   /* background-attachment: fixed; */
}
.dishFont{
    color:bisque;
}
.titleFont{
    color: black;
}